/**STYLE: Template versão 4.0 **/

* { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }

@maincolor: #808080;

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-text-size-adjust: none;
	background: url('img/loading.gif') no-repeat center;
}

main {
	opacity: 0;
	position: relative;
	width: 100%;
	height: 100%;
	background: #e7e7e7;
	max-width: 1280px;
	max-height: 720px;
	overflow: hidden;
	margin: auto;
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 0 1.5em #404040;
	border-radius: 0.2em;

	img { width: 100%; display: block; }
	h1, h2, h3 { font-size: 1.5em; margin-bottom: 0.5em; color: white; text-transform: uppercase; font-family: 'Bree Serif', serif; letter-spacing: 0.06em; }
	p { margin-bottom: 0.5em; }
	ul, ol { margin-left: 2em; text-align: left; }

	button {
		padding: 0.3em 2em;
		margin-top: 0.7em;
		background: white;
		border-radius: 1em;
		cursor: pointer;
		text-transform: uppercase;
		color: @maincolor;
		font-family: inherit;
		font-weight: bold;
		box-sizing: border-box;
	}

	button:hover { box-shadow: 0 0.1em 0.1em #404040; }
	button:active { transform: translateY(0.1em); }

	.help {
		position: absolute;
		padding: 0.05em 0.5em;
		margin-top: 0;
		top: 2%;
		left: 1.4%;
		border-radius: 50%;
		background: @maincolor;
		font-size: 2.3em;
		color: white;
		z-index: 4;
		cursor: pointer;
	}

	.dimmer {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #7ba1b9;
		background: -moz-linear-gradient(top, #7ba1b9 0%, #7ba1b9 16%, #4f81a2 16.1%, #4f81a2 100%);
		background: -webkit-linear-gradient(top, #7ba1b9 0%,#7ba1b9 16%,#4f81a2 16.1%,#4f81a2 100%);
		background: linear-gradient(to bottom, #7ba1b9 0%,#7ba1b9 16%,#4f81a2 16.1%,#4f81a2 100%);
		z-index: 6;

		.bg-j {
			position: absolute;
			width: 20%;
			top: 25%;
			left: 10%;
		}

		.modal {
			position: absolute;
			width: 45%;
			top: 20%;
			left: 40%;
			text-align: center;
			color: white;
			text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.6);

			.ps {
				p { display: none; }
				p:nth-child(1) { display: block; }
			}
		}
	}

	.content {
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;
		display: none;

		.endit {
			position: absolute;
			bottom: 2em;
			right: 1em;
			z-index: 3;
			display: none;
		}

		.ctrl {
			button {
				position: absolute;
				padding: 0;
				left: 20%;
				bottom: 4%;
				width: 6.9%;
				border-radius: 50%;
				background: none;
				z-index: 4;
			}
			button:hover { box-shadow: none; }

			button:nth-child(1) { border: 0.1em solid white; }
			button:nth-child(2) { left: 34%; }
			button:nth-child(3) { left: 47.8%; }
			button:nth-child(4) { left: 62%; }
			button:nth-child(5) { left: 76%; }
		}

		.slides {
			position: absolute;
			width: 100%;
			height: 600%;
			top: 0;

			section {
				position: relative;
				width: 100%;
				height: 16.666%;

				img {
					position: absolute;
					top: 25%;
					left: 10%;
					width: 22.8%;
				}

				.itens {
					position: absolute;
					bottom: 20%;
					right: 16%;

					.i {
						width: 1.5em;
						height: 1.5em;
						background: rgba(255,255,255,0.6);
						border-radius: 50%;
						cursor: pointer;
						float: left;
						margin-left: 0.5em;
					}
					.i:nth-child(1) { background: rgba(255,255,255,1); }
				}


				.txt {
					position: absolute;
					text-align: center;
					padding: 1em;
					color: white;
					width: 45%;
					right: 15%;
					top: 15%;
					text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.6);

					p {
						position: absolute;
						width: 100%;
					}
				}
			}

			section:nth-child(1) {
			  background: #ffc16e;
			  background: -moz-linear-gradient(top, #ffc16e 0%, #ffc16e 16%, #ffac3d 16.1%, #ffac3d 100%);
			  background: -webkit-linear-gradient(top, #ffc16e 0%,#ffc16e 16%,#ffac3d 16.1%,#ffac3d 100%);
			  background: linear-gradient(to bottom, #ffc16e 0%,#ffc16e 16%,#ffac3d 16.1%,#ffac3d 100%);
			}

			section:nth-child(2) {
			  background: #9ad7dc;
			  background: -moz-linear-gradient(top, #9ad7dc 0%, #9ad7dc 16%, #78cad0 16.1%, #78cad0 100%);
			  background: -webkit-linear-gradient(top, #9ad7dc 0%,#9ad7dc 16%,#78cad0 16.1%,#78cad0 100%);
			  background: linear-gradient(to bottom, #9ad7dc 0%,#9ad7dc 16%,#78cad0 16.1%,#78cad0 100%);
			}

			section:nth-child(3) {
			  background: #d6d6d6;
			  background: -moz-linear-gradient(top, #d6d6d6 0%, #d6d6d6 16%, #c8c8c8 16.1%, #c8c8c8 100%);
			  background: -webkit-linear-gradient(top, #d6d6d6 0%,#d6d6d6 16%,#c8c8c8 16.1%,#c8c8c8 100%);
			  background: linear-gradient(to bottom, #d6d6d6 0%,#d6d6d6 16%,#c8c8c8 16.1%,#c8c8c8 100%);
			}

			section:nth-child(4) {
			  background: #c2cc8c;
			  background: -moz-linear-gradient(top, #c2cc8c 0%, #c2cc8c 16%, #aebb66 16.1%, #aebb66 100%);
			  background: -webkit-linear-gradient(top, #c2cc8c 0%,#c2cc8c 16%,#aebb66 16.1%,#aebb66 100%);
			  background: linear-gradient(to bottom, #c2cc8c 0%,#c2cc8c 16%,#aebb66 16.1%,#aebb66 100%);
			}

			section:nth-child(5) {
			  background: #ee9b9b;
			  background: -moz-linear-gradient(top, #ee9b9b 0%, #ee9b9b 16%, #e87979 16.1%, #e87979 100%);
			  background: -webkit-linear-gradient(top, #ee9b9b 0%,#ee9b9b 16%,#e87979 16.1%,#e87979 100%);
			  background: linear-gradient(to bottom, #ee9b9b 0%,#ee9b9b 16%,#e87979 16.1%,#e87979 100%);
			}

			/*section:nth-child(6) {
				background: #7ba1b9;
				background: -moz-linear-gradient(top, #7ba1b9 0%, #7ba1b9 16%, #4f81a2 16.1%, #4f81a2 100%);
				background: -webkit-linear-gradient(top, #7ba1b9 0%,#7ba1b9 16%,#4f81a2 16.1%,#4f81a2 100%);
				background: linear-gradient(to bottom, #7ba1b9 0%,#7ba1b9 16%,#4f81a2 16.1%,#4f81a2 100%);
			}*/
		}
	}

	.blink { animation: blink 0.5s linear infinite; }
	@keyframes blink { 50% { opacity: 0; } }
}

@media screen and (max-width: 1280px) {
	main {
		font-size: 2vw;
		width: 100vw;
		height: 56vw;
	}
}

@media screen and (max-height: 720px) {
	main {
		font-size: 3.5vh;
		width: 177vh;
		height: 100vh;
	}
}
